.wrapper {
  width: 1400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.field {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.letters {
  width: 200px;
  height: 350px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 250px;
  border: 1px solid #0080C1;
  border-radius: 5px;
}

.card-category {
  background-color: #00C1FF;
}

.card-letter {
  background-color: #00C1FF;
}

.open-card {
  width: 300px;
  height: 180px;
  background-color: white;
  border: 1px solid #0080C1;
  border-radius: 5px;
  text-align: center;
  color: #004980;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-text {
  width: 225px;
}

.open-card-letter {
  font-size: 125px;
  font-weight: bold;
}

.open-card-category {
  font-size: 25px;
}

.questionIcon {
  width: 175px;
  height: 175px;
}

.lettersIcon {
  width: 125px;
  height: 125px;
}
