<div class="wrapper">
  <div class="board">
    <div class="cards">
      <div class="card card-category" (click)="openCategoryCard()">
        <img class="questionIcon" src="{{questionIcon}}" alt="">
      </div>
      <span class="cards-count">Карточки: {{ categoryCardsCount$ | async }}</span>
    </div>
    <div class="field">
      <div class="open-card open-card-category" (click)="openBigCard()">
        <div class="card-text">{{(openCategory$ | async)?.text}}</div>
      </div>
      <div class="open-card open-card-letter">{{openLetter$ | async}}</div>
    </div>
    <div class="cards">
      <div class="card card-letter" (click)="openLetterCard()">
        <img class="lettersIcon" src="{{lettersIcon}}" alt="">
      </div>
    </div>
  </div>
</div>
