<div class="root">
  <div class="modal" *ngIf="(newGameModal$ | async)" >
    <app-new-game-modal></app-new-game-modal>
  </div>
  <div class="modal" *ngIf="(addPlayerModal$ | async)">
    <app-add-player-modal></app-add-player-modal>
  </div>
  <div class="modal" *ngIf="(hasGeneralModal$ | async)">
    <app-general-modal></app-general-modal>
  </div>
  <div class="modal" *ngIf="(endGameModal$ | async)">
    <app-end-game-modal></app-end-game-modal>
  </div>
  <div class="modal" *ngIf="(bigCardModal$ | async)">
    <app-big-card-modal></app-big-card-modal>
  </div>
  <body
    [class.ban-body]="(newGameModal$ | async)
    || (addPlayerModal$ | async)
    || (hasGeneralModal$ | async)
    || (endGameModal$ | async)
    || (bigCardModal$ | async)
    ">
    <app-layout></app-layout>
    <app-board></app-board>
    <app-players></app-players>
  </body>
</div>
