.root {
  display: flex;
  justify-content: center;
  font-family: Arial, serif;
}

.modal {
  position: absolute;
  visibility: visible;
  z-index: 5;
  margin-top: 200px;
}

.ban-body {
  background-image: none;
  background-color: darkgrey;
  opacity: 0.4;
  pointer-events: none;
}

body {
  display: flex;
  background-color: #FFF4C5;
  flex-direction: column;
  border-radius: 5px;
}
